<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <!--사진 한개만 들어갈때-->
    <div id="my-carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#my-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#my-carousel" data-slide-to="1"></li>
            <li data-target="#my-carousel" data-slide-to="2"></li>
            <li data-target="#my-carousel" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <a href="#">
                    <img src="http://hdkwonnz.cdn2.cafe24.com/imageOwner/carousel01.JPG" class="img-responsive" style="width:100%; height:370px;" />
                </a>
                <div class="carousel-caption">
                    <h2></h2>
                </div>
            </div>
            <div class="item">
                <a href="#">
                    <img src="http://hdkwonnz.cdn2.cafe24.com/imageOwner/carousel02.JPG" class="img-responsive" style="width:100%; height:370px;" />
                </a>
                <div class="carousel-caption">
                    <h2></h2>
                </div>
            </div>
            <div class="item">
                <a href="#">
                    <img src="http://hdkwonnz.cdn2.cafe24.com/imageOwner/carousel03.JPG" class="img-responsive" style="width:100%; height:370px;" />
                </a>
                <div class="carousel-caption">
                    <h2></h2>
                </div>
            </div>
            <div class="item">
                <a href="#">
                    <img src="http://hdkwonnz.cdn2.cafe24.com/imageOwner/carousel04.JPG" class="img-responsive" style="width:100%; height:370px;" />
                </a>
                <div class="carousel-caption">
                    <h2></h2>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#my-carousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#my-carousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>

    <!--사진 여러장 들어갈때-->
    <!--아래 오른쪽 data-interval을 "0"으로 놓으면 자동 sliding이 없어진다.-->
    <!--2초마다 슬라이딩 원할시 "2000"을 넣는다.-->
    <div id="home_shopping_show" class="carousel slide" data-interval="0"
         data-ride="carousel" data-pause="hover" data-wrap="true">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#home_shopping_show" data-slide-to="0" class="active"></li>
            <li data-target="#home_shopping_show" data-slide-to="1"></li>
            <li data-target="#home_shopping_show" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="raw">
                    <div class="col-md-4">
                        <a href="#">
                            <img src="/uploadFiles/pictures/sellers/GS프레쉬.JPG" alt="..." class="img-responsive" />
                            <div class="carousel-caption">
                                <h3></h3>
                                <p></p>
                            </div>
                        </a>
                        <br />
                        <div>이곳에 상품 이름 과 가격이 들어갈 예정 이곳에 상품 제목 가격이 들어갈 예정</div>
                        <div><b>989,000</b></div>
                    </div>
                    <div class="col-md-4">
                        <a href="#">
                            <img src="/uploadFiles/pictures/sellers/롯데슈퍼.JPG" alt="..." class="img-responsive" />
                            <div class="carousel-caption">
                                <h3></h3>
                                <p></p>
                            </div>
                        </a>
                        <br />
                        <div>이곳에 상품 이름 과 가격이 들어갈 예정 이곳에 상품 제목 가격이 들어갈 예정</div>
                        <div><b>89,000</b></div>
                    </div>
                    <div class="col-md-4">
                        <a href="#">
                            <img src="/uploadFiles/pictures/sellers/홈플러스.JPG" alt="..." class="img-responsive" />
                            <div class="carousel-caption">
                                <h3></h3>
                                <p></p>
                            </div>
                        </a>
                        <br />
                        <div>이곳에 상품 이름 과 가격이 들어갈 예정 이곳에 상품 제목 가격이 들어갈 예정</div>
                        <div><b>189,000</b></div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="raw">
                    <div class="col-md-4">
                        <a href="#">
                            <img src="/uploadFiles/pictures/sellers/롯데홈쇼핑.JPG" alt="..." class="img-responsive" />
                            <div class="carousel-caption">
                                <h3></h3>
                                <p></p>
                            </div>
                        </a>
                        <br />
                        <div>이곳에 상품 이름 과 가격이 들어갈 예정 이곳에 상품 제목 가격이 들어갈 예정</div>
                        <div><b>9,900</b></div>
                    </div>
                    <div class="col-md-4">
                        <a href="#">
                            <img src="/uploadFiles/pictures/sellers/CJ오쇼핑.JPG" alt="..." class="img-responsive" />
                            <div class="carousel-caption">
                                <h3></h3>
                                <p></p>
                            </div>
                        </a>
                        <br />
                        <div>이곳에 상품 이름 과 가격이 들어갈 예정 이곳에 상품 제목 가격이 들어갈 예정</div>
                        <div><b>8,900</b></div>
                    </div>
                    <div class="col-md-4">
                        <a href="#">
                            <img src="/uploadFiles/pictures/sellers/스마일배송.JPG" alt="..." class="img-responsive" />
                            <div class="carousel-caption">
                                <h3></h3>
                                <p></p>
                            </div>
                        </a>
                        <br />
                        <div>이곳에 상품 이름 과 가격이 들어갈 예정 이곳에 상품 제목 가격이 들어갈 예정</div>
                        <div><b>228,100</b></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#home_shopping_show" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true" style="margin-left:-45px;"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#home_shopping_show" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="margin-right: 0px;"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <!--test 용carousel multi photos-->
    <div class="row">
        <div class="col-xs-12" style="padding-left:0px; padding-right:45px;">
            <!--아래 오른쪽 data-interval을 "0"으로 놓으면 자동 sliding이 없어진다.-->
            <!--2초마다 슬라이딩 원할시 "2000"을 넣는다.-->
            <div id="carousel-example-generic" class="carousel slide" data-interval="2000"
                 data-ride="carousel" data-pause="hover" data-wrap="true">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="raw">
                            <div class="col-xs-4">
                                <a href="#">
                                    <img src="/uploadFiles/pictures/sellers/291_14d.JPG" alt="..." class="img-responsive" />
                                    <div class="carousel-caption">
                                        <h3>291_14d.JPG</h3>
                                        <p>291_14d.JPG</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-xs-4">
                                <a href="#">
                                    <img src="/uploadFiles/pictures/sellers/291_15e.JPG" alt="..." class="img-responsive" />
                                    <div class="carousel-caption">
                                        <h3>291_15e.JPG</h3>
                                        <p>291_15e.JPG</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-xs-4">
                                <a href="#">
                                    <img src="/uploadFiles/pictures/sellers/291_39.JPG" alt="..." class="img-responsive" />
                                    <div class="carousel-caption">
                                        <h3>291_39.JPG</h3>
                                        <p>291_39.JPG</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div><!--class="carousel-inner"-->
                    <div class="item">
                        <div class="raw">
                            <div class="col-xs-4">
                                <a href="#">
                                    <img src="/uploadFiles/pictures/sellers/295_31.JPG" alt="..." class="img-responsive" />
                                    <div class="carousel-caption">
                                        <h3>295_31.JPG</h3>
                                        <p>295_31.JPG</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-xs-4">
                                <a href="#">
                                    <img src="/uploadFiles/pictures/sellers/296_32.JPG" alt="..." class="img-responsive" />
                                    <div class="carousel-caption">
                                        <h3>296_32.JPG</h3>
                                        <p>296_32.JPG</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-xs-4">
                                <a href="#">
                                    <img src="/uploadFiles/pictures/sellers/294_16f.JPG" alt="..." class="img-responsive" />
                                    <div class="carousel-caption">
                                        <h3>294_16f.JPG</h3>
                                        <p>294_16f.JPG</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div><!--id="carousel-example-generic"-->
        </div><!--class="col-xs-12"-->
    </div><!--row test carousel-->

</body>
</html>
