<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div class="row" style="margin-right:30px;margin-left:-15px;">
        <div class="col-sm-12 col-md-12 col-lg-12" style="background-color:rgba(128, 128, 128, 0.19);">
            <!--<div style="width: 100%; height: 300px; border: 1px solid red;">-->
            <!--<div style="width: 100%; height: 300px;">-->
            <div style="width: 100%; height: 320px;">
                <!--백화점 보여주기-->
                <div id="home_shopping_show" class="carousel slide" data-ride="carousel" data-interval="0">
                    <ol class="carousel-indicators">
                        <li data-target="#home_shopping_show" data-slide-to="0" class="active"></li>
                        <li data-target="#home_shopping_show" data-slide-to="1"></li>
                        <li data-target="#home_shopping_show" data-slide-to="2"></li>
                        <li data-target="#home_shopping_show" data-slide-to="3"></li>
                        <li data-target="#home_shopping_show" data-slide-to="4"></li>
                        <li data-target="#home_shopping_show" data-slide-to="5"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <a href="#">
                                <!--<img src="http://hdkwonnz.cdn2.cafe24.com/imageOwner/carousel01.JPG" class="img-responsive" style="width:100%; height:370px;" />-->
                                <img src="/uploadFiles/pictures/sellers/GS프레쉬.JPG" alt="..." class="img-responsive" />
                            </a>
                            <div class="carousel-caption">
                                <h2></h2>
                            </div>
                        </div>
                        <div class="item">
                            <a href="#">
                                <!--<img src="http://hdkwonnz.cdn2.cafe24.com/imageOwner/carousel02.JPG" class="img-responsive" style="width:100%; height:370px;" />-->
                                <img src="/uploadFiles/pictures/sellers/롯데슈퍼.JPG" alt="..." class="img-responsive" />
                            </a>
                            <div class="carousel-caption">
                                <h2></h2>
                            </div>
                        </div>
                        <div class="item">
                            <a href="#">
                                <!--<img src="http://hdkwonnz.cdn2.cafe24.com/imageOwner/carousel03.JPG" class="img-responsive" style="width:100%; height:370px;" />-->
                                <img src="/uploadFiles/pictures/sellers/홈플러스.JPG" alt="..." class="img-responsive" />
                            </a>
                            <div class="carousel-caption">
                                <h2></h2>
                            </div>
                        </div>
                        <div class="item">
                            <a href="#">
                                <!--<img src="http://hdkwonnz.cdn2.cafe24.com/imageOwner/carousel04.JPG" class="img-responsive" style="width:100%; height:370px;" />-->
                                <img src="/uploadFiles/pictures/sellers/롯데홈쇼핑.JPG" alt="..." class="img-responsive" />
                            </a>
                            <div class="carousel-caption">
                                <h2></h2>
                            </div>
                        </div>
                        <div class="item">
                            <a href="#">
                                <!--<img src="http://hdkwonnz.cdn2.cafe24.com/imageOwner/carousel04.JPG" class="img-responsive" style="width:100%; height:370px;" />-->
                                <img src="/uploadFiles/pictures/sellers/CJ오쇼핑.JPG" alt="..." class="img-responsive" />
                            </a>
                            <div class="carousel-caption">
                                <h2></h2>
                            </div>
                        </div>
                        <div class="item">
                            <a href="#">
                                <!--<img src="http://hdkwonnz.cdn2.cafe24.com/imageOwner/carousel04.JPG" class="img-responsive" style="width:100%; height:370px;" />-->
                                <img src="/uploadFiles/pictures/sellers/스마일배송2.JPG" alt="..." class="img-responsive" />
                            </a>
                            <div class="carousel-caption">
                                <h2></h2>
                            </div>
                        </div>
                    </div><!--carousel-inner-->
                    <a class="left carousel-control" href="#home_shopping_show" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#home_shopping_show" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div><!--백화점 보여 주기-->
            </div>--><!--백화점들 감싸고 있는 박스 div tag-->
        </div><!--row 바로 밑 div-->
    </div><!--row--><!--lotte_show-->
</body>
</html>
